/* TOP BUTTONS CSS */

.TopButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
}

.TopButton, .TopIcon {
    margin: 40px 16px 0;
}

.TopIcon {
    margin-right: 40px;
    font-size: 28px;
    transition: all linear 0.32s;
}

#light .TopIcon {
    color: #000000;
}

#dark .TopIcon {
    color: #f0f8ff;
}

.TopButton {
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 6px;
    transition: all linear 0.2s;
}

#light .TopButton {
    color: #29abe2;
}

#dark .TopButton {
    color: #ffffff;
}

.button {
    padding: 8px 32px;
    font-size: 20px;
    font-weight: 500;
    background-color: #29abe2;
    outline: none;
    border: none;
    border-radius: 6px;
}

#light .button {
    color: #ffffff;
}

#dark .button {
    color: #000000;
}

.TopButton:hover, .TopIcon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button:hover {
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 16%);
}

/* LOGO CSS */

.Logo {
    cursor: pointer;
    width: 100%;
    margin-top: 32px;
}

/* SEARCH BOX CSS */

.SearchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    height: 40px;
    padding: 0 16px;
    margin: 40px;
    border-radius: 20px;
}

#light .SearchBox {
    background-color: #ffffff;
    border: 1px solid #000000;
}

#dark .SearchBox {
    background-color: #4d4d4d;
    border: 1px solid #f2f2f2;
}

.SearchInput {
    flex: 1;
    margin: 0 8px;
    font-size: 16px;
    line-height: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

#light .SearchInput::placeholder {
    color: #999999;
}

#dark .SearchInput::placeholder {
    color: #ffffff;
}

.SearchIcon {
    opacity: 0.8;
    margin: 0 8px;
}

#light .SearchIcon {
    color: #015f87;
}

#dark .SearchIcon {
    color: #f0f8ff;
}

.SearchIcon:hover {
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 740px) {
    .SearchBox {
        width: 400px;
    }
}

/* BOTTOM BUTTONS CSS */

.CircleButton {
    width: 48px;
    height: 48px;
    margin: 8px 64px 0;
    border-radius: 24px;
    background-color: #29abe299;
    transition: all linear 0.16s;
}

.CircleIcon {
    font-size: 24px;
    transition: all linear 0.16s;
}

#light .CircleIcon {
    color: #000000;
}

#dark .CircleIcon {
    color: #f0f8ff;
}

.CircleButton:hover {
    cursor: pointer;
    background-color: #29abe2;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 16%);
}

.CircleButton:hover .CircleIcon {
    font-size: 28px;
}

.ButtonTitle {
    font-size: 16px;
    font-style: italic;
}

#light .ButtonTitle {
    color: #000000;
}

#dark .ButtonTitle {
    color: #f0f8ff;
}

.BottomButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ADVANCED FILTER CSS */

.AdvancedFilter {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin: 16px 0 32px;
    width: 1000px;
    background-color: #ffffff;
    border-radius: 8px;
    --zoom-from: 0;
    --zoom-to: 1;
    transform-origin: calc(316px) top;
    animation: zoomIn ease-in 0.4s;
    will-change: opacity, transform;
}

.AdvancedFilter::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    left: 316px;
    top: -40px;
}

.SearchFilter {
    text-align: center;
}

.FilterTitle {
    color: #06638a;
}

.WebsitesList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    list-style: none;
}

.WebsitesItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 128px;
    background-color: #f0f8ff;
    border-radius: 8px;
    transition: all linear 0.16s;
}

.WebsitesItem i {
    font-size: 24px;
}

.WebsitesItem p, .WebsitesItem i {
    margin: 4px;
}

.WebsitesItem:hover {
    background-color: #29aae27b;
    color: #ffffff;
    cursor: pointer;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(var(--zoom-from));
    } to {
        opacity: 1;
        transform: scale(var(--zoom-to));
    }
}

/* NEWS CSS */

/* FOOTER CSS */

.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
}

#light .Footer {
    background-color: #87cefa;
}

#dark .Footer {
    background-color: #f0f8ff;
}

.LanguageSwitch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 40px;
}

.LanguageTitle {
    font-size: 20px;
    font-weight: 700;
}

.Language {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.LanguageIcon {
    height: 100%;
    margin: 8px;
}

.FooterCopyright {
    margin-right: 40px;
    font-size: 20px;
    font-weight: 700;
}

#light .LanguageTitle, #light .FooterCopyright {
    color: #ffffff;
}

#dark .LanguageTitle, #dark .FooterCopyright {
    color: #000000;
}

#light .focus.LanguageTitle {
    color: #000000;
}

#dark .focus.LanguageTitle {
    color: #87cefa;
}

@media (max-width: 740px) {
    .Footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 64px;
        background-color: #87cefa;
    }

    .FooterCopyright {
        display: none;
    }
}

/* WEATHER APP CSS */

.WeatherApp {
    position: absolute;
    top: 120px;
    left: 40px;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
    padding-right: 10px;
    width: 150px;
    height: 80px;
    background-image: linear-gradient(to top, #195e96, #86c4db, #c9f8ff);
    border-radius: 8px;
}

.WeatherWrapped {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 16px;
}

.Tempetature {
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    margin: 0;
}

.WeatherIcon {
    margin-top: 8px;
    width: 40px;
    height: 40px;
}

.Location {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.WeatherStatus {
    margin: 0;
    font-size: 12px;
    color: #ffffff;
}

/* CALENDAR APP CSS */

.CalendarApp {
    position: absolute;
    top: 220px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    padding-left: 10px;
    width: 150px;
    height: 80px;
    background-image: linear-gradient(to top, #c2c2c2, #e0e0e0, #ffffff);
    border-radius: 8px;
}

.CalendarApp::before {
    content: "";
	position: absolute;
	top: 0;
	right: 12px;
	background-color: #af0000;
	width: 12px;
	height: 40px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.CalendarYear {
    margin: 0 0 0 12px;
    font-size: 12px;
}

.CalendarDate {
    margin: 0 0 0 12px;
    font-size: 24px;
}

.CalendarDetail {
    margin: 6px 0 0 4px;
    width: 120px;
    height: 12px;
    font-size: 12px;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 740px) {
    .WeatherApp, .CalendarApp {
        display: none;
    }
}