.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Google Sans', sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
    transition: all 0.32s;
}